<header class="site-header">
  <h1 class="site-title">
    <a href="/">{{site.title}}</a>
  </h1>
  <button type="button" class="btn btn-sm btn-outline-primary btn-controls js-btn-controls-open" title="Navigation"><i class="fa fa-bars" aria-hidden="true"></i></button>
  <div class="site-controls js-site-controls">
    <!-- search -->
    <div class="site-search">
      <h2 class="none">Search</h2>
      <form action="/search/" method="get">
        <label class="form-select form-select-sm">
          <select name="sort" class="js-form-search-select">
            <option value="all">All</option>
            <option value="title">Title</option>
            <option value="category">Category</option>
            <option value="tag">Tag</option>
          </select>
        </label>
        <input type="search" name="value" class="form-input form-input-sm js-form-search-input" placeholder="검색어를 입력하세요." required>
        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
    <!-- navigation -->
    <nav class="site-nav">
      <h2 class="none">Navigation</h2>
      <ul>
        {% for nav in site.nav %}
        <li><a href="{{nav.href}}">{{nav.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <button type="button" class="btn btn-sm btn-secondary-outline btn-close js-btn-controls-close"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</header>