<div class="site-search js-site-search">
  <div class="background js-site-search-background"></div>
  <h2 class="none">Search</h2>
  <form action="/search/" method="get" class="form">
    <label class="form-control form-control-sm mr-2">
      <select name="sort" class="js-form-search-select">
        <option value="all">All</option>
        <option value="title">Title</option>
        <option value="category">Category</option>
        <option value="tag">Tag</option>
      </select>
    </label>
    <input type="search" name="value" class="form-control form-control-sm js-form-search-input" placeholder="검색어를 입력하세요." required>
    <button type="submit" class="btn btn-sm btn-search">검색하기</button>
  </form>
</div>