---
layout: default
title: REPOSITORY
---
<main class="site-contents">
  <!-- project -->
  <section class="box">
    <h2 class="box-title"><i class="fa fa-th mr-2" aria-hidden="true"></i>PROJECT LIST</h2>
    <div class="card-columns">
      {% assign sortedProject = site.data.projects | sort: "startDate" | reverse %}
      {% for project in sortedProject %}
      <div class="card">
        <img class="card-img-top" src="{{ project.thumbnail }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">[{{ project.type | upcase }}] {{ project.title }}</h3>
          <p class="card-text">{{ project.explain | strip | truncatewords: 50 }}</p>
          <p class="card-text text-muted">
            <time datatime="{{ project.startDate | date: "%Y-%m-%d" }}">{{ project.startDate | date: "%Y-%m-%d" }}</time> ~ 
            <time datatime="{{ project.endDate | date: "%Y-%m-%d" }}">{{ project.endDate | date: "%Y-%m-%d" }}</time>
          </p>
          {% if project.url == "#" %}
          <a href="{{ project.url }}" class="btn btn-danger" onClick="alert('운영이 종료된 프로젝트입니다.'); return false;"><i class="fa fa-unlink mr-2" aria-hidden="true"></i>URL</a>
          {% else %}
          <a href="{{ project.url }}" target="_blank" class="btn btn-primary"><i class="fa fa-link mr-2" aria-hidden="true"></i>URL</a>
          {% endif %}
          <a href="{{ project.detail }}" target="_blank" class="btn btn-primary"><i class="fa fa-cloud mr-2" aria-hidden="true"></i>DETAIL</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>