//
// 배경색상에 대한 대조(contrast) 글꼴 컬러를 설정하는 사용자 정의 함수
//

@function contrast-text($bgcolor, $amount: 50%) {
    $text-color: null;

    // 유효성 검사
    @if type-of($bgcolor) != color {
        @warn "전달받은 인자의 데이터 형이 잘못되었습니다. color 형이 필요합니다.";
        @debug "전달 받은 인자 $bgcolor 값은 #{type-of($bgcolor)} 입니다.";
    }

    @if lightness($bgcolor) > 50% {
        $text-color: darken($bgcolor, $amount);
    }
    @else {
        $text-color: lighten($bgcolor, $amount);
    }

    @return $text-color;
}

//
// 레이어 이름으로부터 z-index 값을 가져온다.
//

@function z-indexs($layer) {
  @return map-get($z-indexes, $layer);
}