.site-header {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  line-height: 2rem;
 
  @include make-container();
}

.site-title {
  min-width: 4rem;
  font-size: 1.5rem;
}

.btn-nav {
  display: none;
}

.site-nav {
  flex: auto;
  text-align: right;
  justify-content: center;

  li {
    display: inline-block;
    font-size: 1rem;

    > a {
      padding: 0 0.3rem;
    }
  }

  .btn-close {
    display: none;
  }
}

.btn-search {
  border-radius: 50%; 
  margin-left: 1rem;
}