.site-header {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  line-height: 2rem;
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 3);
  border-bottom: 1px solid $secondary;
 
  @include make-container();
}

.site-title {
  min-width: 4rem;
  font-size: 1.5rem;
  flex: 1;

  @include media-breakpoint-up(sm) {
    flex: 0;
  }
}

.btn-nav {
  border-radius: 50%;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.site-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: $zindex-modal;
  transition: $transition-base;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);

  > ul {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    color: $white;

    li {
      padding: map-get($spacers, 2) 0;
    }

    a {
      display: block;
    }
  }

  .btn-close {
    position: absolute;
    top: map-get($spacers, 3);
    right: map-get($spacers, 3);
    border-radius: 50%;
    border-color: theme-color('primary');
    color: $white;
  }

  @include make-container();

  @include media-breakpoint-up(sm) { 
    position: relative;
    display: block;
    width: auto;
    flex: auto;
    text-align: right;
    justify-content: center;
    background-color: $white;

    > ul {
      position: relative;
      top: 0;
      transform: none;
      color: $body-color;

      li {
        display: inline-block;
        font-size: $font-size-base;
        padding: 0;
      }

      a {
        display: block;
        padding: 0 map-get($spacers, 1);
      }
    }

    .btn-close {
      display: none;
    }
  }
}

.btn-search {
  border-radius: 50%;
  margin-left: map-get($spacers, 2);
}