//
// common box
//

.box {
  position: relative;

  .box-title {
    font-size: 1.2rem;
    color: $black;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .box-text {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }

  .btn-more {
    @include absolute(0, 0, auto, auto);
  }
}

// post box
.box-post {
  flex: 1;
}

// category box
.box-category {
  width: 200px;
  margin-left: 10px;

  .btn-category {
    display: none;
  }
  
  // tablet
  @include breakpoint(tablet) {
    text-align: right;
    margin: 0;
    width: auto;
    
    @include absolute(0, 20px, auto, auto);
    
    .box-title {
      display: none;
    }
    
    .list {
      display: none;
      text-align: left;
      background-color: $white;
      max-width: 200px;
    }
  }
}