.box {
  position: relative;
  flex: 1;
  margin-right: ($grid-gutter-width / 2);
  margin-left: ($grid-gutter-width / 2);

  .box-title {
    font-size: 1.5rem;
    margin-bottom: map-get($spacers, 4);
  }

  .btn-more {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
  }
}