.box {
  width: 100%;
  position: relative;
  box-sizing: border-box;

  .box-title {
    font-size: 1.2rem;
    color: $black;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .box-text {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }

  .btn-more {
    @include absolute(0, 0, auto, auto);
  }

  @include clear;

  @include breakpoint(tablet) {
    margin: 0 20px;
    @include size(calc(100% - 40px), auto);
  }
}

.box-half{
  @include size(calc(50% - 10px), auto);
  
  @include breakpoint(tablet) {
    
    @include size(calc(50% - 25px), auto);

    &:nth-child(odd) {
      margin: 0 5px 0 20px;
    }
    &:nth-child(even) {
      margin: 0 20px 0 5px;
    }
  }

  @include breakpoint(mobile) {
    
    @include size(calc(100% - 10px), auto);

    &:nth-child(odd),
    &:nth-child(even) {
      margin: 0 20px;
    }
  }
}
.box-quarter {
  @include size(calc(25% - 10px), auto);
}
.box-quarter3 {
  @include size(calc(75% - 10px), auto);
  
  @include breakpoint(tablet) {
    @include size(100%, auto);
  }
}

// braekpoint에 따른 box style
.box-category {
  
  // tablet
  @include breakpoint(tablet) {
    text-align: right;
    margin: 0;
    width: auto;
    
    @include absolute(0, 20px, auto, auto);
    
    .box-title {
      display: none;
    }
    
    .list {
      display: none;
      text-align: left;
      background-color: $white;
      max-width: 200px;
    }
  }
}