.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -10px;

  @include clear;

  .card-item {
    text-align: center;
    margin: 0 0 20px 10px;
    color: $black;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 5px 9px rgba(0,0,0,0.1);
    transition: 0.3s;
    box-sizing: border-box;

    @include size(calc(25% - 10px), auto);
    @include border(1px, $gray-lighter, 5px);

    &:hover,
    &:focus {
      box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 5px 9px rgba(0,0,0,0.25);
    }

    @include breakpoint(tablet) {
      @include size(calc(33.33% - 10px), auto);
    }

    @include breakpoint(mobile-wide) {
      @include size(calc(50% - 10px), auto);
    }

    @include breakpoint(mobile) {
      @include size(calc(100% - 10px), auto);
    }
  }

  &.home {
    .card-item{
      @include size(calc(100% - 10px), auto);
    }
  }

  .card-title {
    padding: 20px 0;
    font-size: 1.1rem;
    line-height: 1.5rem;
    background: $gray;
    color: $white;
  }
  
  .card-description {
    padding: 10px 0;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .card-info {
    font-size: 0.8rem;
    padding: 0 0 20px;

    li {
      display: inline;
      padding: 0 5px;
    }
  }
}