//
// Base styles
//

.list {
  font-size: $font-size-base; 
  line-height: $line-height-lg;

  > .list-item {
    position: relative;
    display: block;

    a {
      display: block;

      &:hover {
        color: $link-color;
      }
    }

    &:not(:last-child) {
      padding-bottom: map-get($spacers, 2);
    }
  }
}

.list-inline {
  
  > .list-item {
    display: inline-block;
    padding-bottom: 0 !important;
  }
}

.list-table {

  > .list-item {
    font-size: $font-size-sm;
    padding-bottom: 0 !important;
    border: $border-width solid rgba($black, .125);

    &:not(:first-child) {
      border-top: 0;
    }

    a {
      display: block;
      padding: map-get($spacers, 2);
    }

    h3 {
      display: inline-block;
    }
  }
}
