.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  @include clear;

  a {
    display: block;

    @include clear;
  }

  .list-item {
    color: $black;
    padding: 20px;
    margin: 0 0 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 5px 9px rgba(0,0,0,0.1);
    transition: 0.3s;

    @include size(100%, auto);
    @include border(1px, $gray-lighter, 5px);

    &:hover {
      box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 5px 9px rgba(0,0,0,0.25);
    }
  }

  .list-title {
    font-size: 1rem;
    font-weight: 600;
    
    @include textOverflow;

    > .color-primary {
      color: $brand-primary;
    }
  }

  .list-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;

    li {
      padding-top: 10px; 
    }
    li:first-child {
      padding-top: 0;
    }

    .title {
      display: block;
      color: $brand-primary;
    }
  }

  .list-description {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin: 10px 0;
  }

  .list-info,
  .list-date {
    display: block;
    text-align: right;
    font-size: 0.8rem;
  }

}

.list-table{
  
  .list-item{
    padding: 0;
    margin: 0;
    box-shadow: none;
    line-height: 1.3rem;

    @include border(1px, $gray-lighter, 0);
    border-bottom-width: 0;

    a {
      padding: 10px;
    }

    &:last-child{
      border-bottom-width: 1px;
    }

  }

  .list-title{
    float: left;

    @include textOverflow();
    @include breakpoint(mobile) {
      font-size: 0.8rem;
    }
  }

  .list-date{
    float: right;
  }

  .count{
    font-size: 0.9rem;
    color: darken($gray-light, 20%);
  }

}