.space {
  padding: 10px;
}
.space-sm {
  padding: 5px;
}
.space-lg {
  padding: 20px;
}

.space-updown {
  padding: 10px 0;
}
.space-updown-sm {
  padding: 5px 0;
}
.space-updown-lg {
  padding: 20px 0;
}
.space-side {
  padding: 0 10px;
}
.space-side-sm {
  padding: 0 5px;
}
.space-side-lg {
  padding: 0 20px;
}

.space-top {
  padding: 10px 0 0 0;
}
.space-top-sm {
  padding: 5px 0 0 0;
}
.space-top-lg {
  padding: 20px 0 0 0;
}
.space-bottom {
  padding: 0 0 10px 0;
}
.space-bottom-sm {
  padding: 0 0 5px 0;
}
.space-bottom-lg {
  padding: 0 0 20px 0;
}
.space-left {
  padding: 0 0 0 10px;
}
.space-left-sm {
  padding: 0 0 0 5px;
}
.space-left-lg {
  padding: 0 0 0 20px;
}
.space-right {
  padding: 0 10px 0 0;
}
.space-right-sm {
  padding: 0 5px 0 0;
}
.space-right-lg {
  padding: 0 20px 0 0;
}